LANGCHAIN_API_KEY=XXXXXXXXX
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT="startup researcher"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"


OPENAI_API_KEY=XXXXXXXXX
ANTHROPIC_API_KEY=XXXXXXXXX
FIREWORKS_API_KEY=XXXXXXXXX
GROQ_API_KEY=XXXXXXXXX
CREDENTIALS_PROFILE_NAME=XXXXXXXXXXXXX
COHERE_API_KEY=XXXXXXXXX
OLLAMA_API_KEY=XXXXXXXXX
TOGETHER_API_KEY=XXXXXXXXX
TAVILY_API_KEY=XXXXXXXXX
BRAVE_SEARCH_API_KEY=XXXXXXXXX
SERPER_API_KEY=XXXXXXXXX
SERPAPI_API_KEY=XXXXXXXXX
WOLFRAM_ALPHA_APPID=XXXXXXXXX
GOOGLE_CSE_ID=XXXXXXXXX
GOOGLE_API_KEY=XXXXXXXXX
PPLX_API_KEY=XXXXXXXXX
OPENROUTER_API_KEY=XXXXXXXXX
FIRECRAWL_API_KEY=XXXXXXXXX
MISTRAL_API_KEY=XXXXXXXXX

PINECONE_API_KEY=XXXXXXXXX

NEO4J_URI=XXXXXXXXX
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=XXXXXXXXX
AURA_INSTANCEID=XXXXXXXXX
AURA_INSTANCENAME=XXXXXXXXX